* {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-attachment: fixed;
    background-image: url(/imagenes/cartoon-background-jungle-forest-free-video.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta según tus preferencias */
    margin: 0;
    width: 100%;
    overflow-x: hidden; /* Puede ayudar a evitar el desplazamiento horizontal */
}

.logo {
    float: left;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 2%;
}

header {
    display: flexbox;
    margin: 0;
    padding: 0;
}
.titulo h1{
    font-family: "Slackside One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: rgb(55, 55, 4);
    text-shadow: 1.5px 2px 1px rgb(249, 246, 246);

}

main {
    display: flex;
    margin-bottom: 30px;
    margin-left: 80px;
    width: 100%;
    overflow-x: hidden;
    overflow: hidden; /* Añade esta línea */
    flex-wrap: wrap; /* Agrega esta línea para permitir el ajuste de fila */

}

.text-area {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 24px;
    color: #05550d;
    margin-top: 20px;
    text-transform: lowercase;
}

::placeholder { color:#2f3733; font-size: 18px; padding: 0.5rem; } 
    .text-area:focus {
        outline: none;
        padding: 0.5rem;
    }


.mensajeDescifrado {
 position: relative;
 float: left;
 width: 40%;
 min-width: 300px;
}
.zorroPensando {
    width: 40%;
    min-width: 300px;
    min-height: 475px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 24px;
    color: #05550d;
    margin-top: 20px;
    text-align: center;
    overflow: hidden; 
    box-sizing: border-box;
}
.zorroPensando h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bolder;
}

.zorroPensando h6 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30%;
}
.enojozorro {
    display: none;
    width: 60%;
    margin: auto;
    margin-top: 30%;
    
}

.imagenzorro {
 width: 60%;
 margin-top: 30%;
}




.text-area {
    max-width: 80%; 
    min-width: 80%;
    min-height: 370px;
    max-height: 370px;
    box-sizing: border-box; 
    overflow-y: auto;
}

.mensajeEscrito {
    float: left;
    width: 60%;
    min-width: 400px;
    box-sizing: border-box;
}

.botones {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    margin-top: 18px;
}

.btn-desencriptar {
    background: #73632e;
    border: none;
    border-radius: 24px;
    color: #ddd1b6;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 328px;
    box-shadow: inset  0px -5px #372e03;
}

.btn-encriptar {
    background-color: #268c1d;
    border: none;
    border-radius: 24px;
    color: rgb(223, 244, 213);
    cursor: pointer;
    height: 50px;
    width: 200px;
    box-shadow: inset  0px -5px #084514;
}

.btn-copiar {
    background-color: #db5f0d;
    margin-top: 18px;
    border: none;
    border-radius: 24px;
    color: #dcc9a5;
    cursor: pointer;
    height: 50px;
    width: 200px;
    box-shadow: inset  0px -5px #713007;
}
.informacion {
    color: #e6ebf1;
    font-size: 18px;
    text-shadow: 1.5px 1.5px 1px rgb(10, 10, 10);
}

.mensaje-copiado {
    position: fixed;
    top: 10px;
    right: 50%;
    background-color: #13710a;
    color: white;
    padding: 15px;
    border-radius: 24px;
    opacity: 0.9;
    z-index: 1;
}

.solucionZorro {
    display: none;
    display: none;
    position: absolute;
    width: 250px;
    bottom: 10%;
    right: 26%;
}

.encabezadoMensaje {
    font-size: 25px;
    font-weight: bold;
}

.footer-page {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}
.footer-page p {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 12px;
    color: antiquewhite;
}
.footer-page img {
 width: 20px;
 margin-left: 0.3rem;
 transition: transform 0.3s ease-in-out;
}

.footer-page img:hover {
 transform: scale(1.1);
}
